{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <!-- Заголовок ошибки -->
            <h1 class="display-4 fw-bold" style="color: #ffffff;">Ошибка 404</h1>
            <h2 class="display-5 fw-bold" style="color: #7d50b0ce;">Страница не найдена</h2>
            <p class="lead" style="color: #aac8e9;">К сожалению, запрашиваемая страница не существует.</p>

            <div class="text-center">
                <img src="https://64.media.tumblr.com/009609f28fc78efa64d67b83b570f657/5d4c74d60f239832-6c/s400x600/e76456c4205791b389c4c2d87fe91dae4f946561.gifv"
                    alt="Изображение Uni" style="max-width: 50%; height: auto;">
            </div>

            <!-- Кнопка возврата на главную страницу -->
            <a href="{{ url_for('index') }}" class="btn btn-success mt-4"
                style="background-color: #7d50b0ce; border-color: #7d50b0ce;">
                Вернуться на главную
            </a>
        </div>
    </div>
</div>
{% endblock %}